@media print {
    
    body {
        /* serif font for easier reading */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        /* increase font size */
        font-size: 1em;
}

    /* printer anchor links */
    a[href]::after {
        content: " " attr(href); 
    }

    /* turn paragraphs into colums */
    figure {
        columns: 1;
    }

    @page {
        /* reset page margins */
        margin: .5in;
    }

}