@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');


:root {
  --color1 : #595350;
  --color2 : #B59187;
  --backgroundColor: #F6F3EE;
  --headingFont : 'Arsenal', sans-serif;
  --bodyFont :'Arsenal', sans-serif;

h1 {
  font-family: var(--headingFont);
  font-size: 70px;
}

p {
  font-family: var(--bodyFont);
}

a:link,
a:visited {
  color: var(--color2);
  text-decoration: none;
  
  letter-spacing: 7px;
}
a:hover, 
  
a:active {
  border-bottom: 4px solid var(--color1);
}
  
main {
  background: var(--backgroundColor);
  border: 12px solid var(--color2);
  
  width: 50%;
  margin: 30px auto 0 auto;
  padding: 24px;
}

audio{
  width: 100%;
}